.jumboBG {
  background-image: -webkit-linear-gradient(bottom, #FFF, #4FC3F7 95%);
  background-image: -o-linear-gradient(bottom, #FFF, #4FC3F7 95%);
  background-image: linear-gradient(to top, #FFF, #4FC3F7 95%);
  height: 100vh;
}


.centreLogo {
  margin-left: auto;
  margin-right: auto;
}


.exp {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
